<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-telephony"
    version="0.0.1">

    <name>Telephony Plugin</name>
    <description> Access to Android's Telephony package, especially information like CID, IMSI, etc for IMSI catcher detection.</description>
    <keywords>telephony,imsi,cid,stingray,arfcn</keywords>
    <repo>git@github.com:marvinmarnold/cordova-plugin-telephony.git</repo>
    <issue>https://github.com/marvinmarnold/cordova-plugin-telephony/issues</issue>
    <license>GPLv3</license>


    <js-module src="www/telephony.js" name="telephony">
        <clobbers target="window.telephony" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="Telephony">
                <param name="android-package" value="org.stingraymappingproject.cordova.Telephony"/>
            </feature>
        </config-file>


        <framework src="com.android.support:support-v4:+" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature android:name="android.hardware.telephony" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>


        <source-file src="src/android/org/stingraymappingproject/cordova/Telephony.java"
            target-dir="src/org/stingraymappingproject/cordova"/>


    </platform>
</plugin>
